body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 5rem;
}
button{
    padding: 0.5rem 1.5rem;
    background-color: rgb(14, 229, 226);
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    color: black;
    font-weight: 700;
    font-family: sans-serif;


}

.btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}